{% load static %}

<p>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false">Disqus Instructions</a>
</p>
<div class="collapse" id="collapseExample">

    <div class="disqus-container">
        <p>In order to post a comment, you have two choices. You can sign in with your Facebook, Twitter, Google, or
        Disqus credentials, or you can post anonymously but you will have to enter a name and email address,
        then click the <strong>I'd rather post as a guest</strong> checkbox that will appear under
        <strong>Join the discussion</strong> and <strong>Name</strong>.</p>

        <p><img src="{% static 'images/post_as_guest.png' %}" alt="image of the above mentiond checkbox"></p>

        <p>This is a <strong>separate</strong> login from the Moose Leather login. Sorry for any inconvenience.</p>
    </div>

</div>