{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row row-flex">
        {% for item in retail_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel-body">
            <h4>{{ item.title }}</h4>
            <div class="item-photo" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')"></div>
            <div class="product-description">
                <p class="description">{{ item.description }} now is the time for all good me to come to the aid of their country</p>
                <p>${{ item.price }}</p>
            </div>

{#                <form method="POST" action="{% url 'add_to_cart' product.id %}">#}
{#                    {% csrf_token %}#}
{#                    <div class="input-group">#}
{#                        <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity" required>#}
{#                        <span class="input-group-btn">#}
{#                            <button type="submit" class="btn btn-success">Add</button>#}
{#                        </span>#}
{#                    </div>#}
{#                </form>#}
        </div>
        {% endfor %}
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
    $(document).ready(function() {
        let photo = $('.item-photo');
        let parent = photo.parent();
        let photoWidth = parent.width() - 10;
        let photoHeight = photoWidth * .75;

        photo.css({'width': photoWidth, 'height': photoHeight});

        $(window).resize(function(e) {
            photoWidth = parent.width() -20;
            photoHeight = photoWidth * .75;
            photo.css({'width': photoWidth, 'height': photoHeight});
        });
    });


    </script>

{% endblock %}