{% extends 'base.html' %}
{% load static %}

{% block head_js %}
    <script src="{% static 'js/photo_handler.js' %}"></script>
    {# Only want the Search to appear on the products pages #}
    <script src="{% static 'js/search_visibility.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    {% if not page_items %}
        <p>No search results were found matching your criteria on this page.</p>
    {% endif %}

    {% if other_count > 0 %}
    <div>
        <p>{% if not page_items %}However,{% endif %} {{ other_count }} {% if other_count == 1 %}result was{% else %}results were{% endif %} {% if page_items %}also{% endif %} found on the <a href="{% url 'search' %}?type=consigned&q={{ request.GET.q }}">Consigned&nbsp;Goods</a> page.</p>
    </div>
    {% endif %}

    <div class="row row-flex">
        {% for item in page_items %}
            {%  include 'panel_code.html' %}
        {% endfor %}
    </div>

    {% include 'pagination.html' %}

</div>


{% endblock %}