{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
    <script>
        document.getElementById('agreement').addEventListener('click', function (e) {
            document.getElementById('consign-submit').disabled = !e.target.checked;
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <p>To submit an item for sale, blah, blah, blah and fill out the following form:</p>

        <form action="{% url 'submit_consigned' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ consignment_form | as_bootstrap }}

            <input type="checkbox" name="agreement" id="agreement"> I have read and agree to the <a href="{% static 'pdfs/consignment_agreement.pdf' %}" target="_blank">consignment agreement.</a>
            <br/><br/>
            <input type="submit" class="btn ml-btn" id="consign-submit" value="Submit Item For Sale" disabled="disabled">

        </form>

    </div>

{% endblock %}