{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}

<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = 'pk_test_w8EVBYHdBkSx92y1qB1GZxcr00IoQY0zB4';
    //]]>

</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<table class="table table-bordered">
    <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for c_item in cart_items %}
    <tr>
        <td>{{ c_item.item.title }}</td>
        <td>{{ c_item.quantity }}</td>
        <td>{{ c_item.item.price }}</td>
        <td><script>document.write(({{ c_item.quantity }} * {{ c_item.item.price }}).toFixed(2))</script></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2" align="right">Grand Total:</td>
        <td colspan="2" align="right"><i class="fas fa-dollar-sign" aria-hidden="true"></i> {{ total }}</td>
    </tr>
</table>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    {% csrf_token %}

    <div class="row">
        <div class="form-group col-md-6">
            {{ order_form | as_bootstrap }}
            <input type="hidden" name="total" value="{{ total }}">
        </div>

        <div class="form-group col-md-6">
            {{ payment_form | as_bootstrap }}
            <input class="btn ml-btn" id="submit_payment_btn" name="commit" type="submit" value="Submit My Order">
        </div>
    </div>

</form>
{% endblock %}