{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
    <script src="{% static 'js/photo_handler.js' %}"></script>
    <script src="{% static 'js/card_sizer.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
            <div class="row card-block justify-content-center">

            {% for c_item in cart_items %}
                <div class="col-sm-6 col-md-4 col-lg-3 card-container">
                    <div class="card card-cart">
                        <div class="item-photo"
                             style="background-image: url('{{ MEDIA_URL }}{{ c_item.item.image }}')"></div>
                        <div class="card-body" id="card-info">
                            <h5 class="card-title">{{ c_item.item.title }}</h5>
                            <div class="card-subtitle">
                                <p class="cart-qty">Qty: {{ c_item.quantity }}&nbsp;&nbsp;@</p>
                                <p class="cart-price">${{ c_item.item.price }}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'adjust_cart' c_item.id %}">
                                {% csrf_token %}
                                <div class="card-subtitle">
                                {%  if c_item.item.is_consignment %}
                                    <input type="hidden" name="quantity" value="0">
                                    <p class="card-text" id="remove-from-cart">
                                        <button type="submit" class="btn ml-btn">Remove from Cart</button>
                                    </p>
                                {% else %}
                                    <p class="card-text">
                                        <label for="quantity">New Qty: </label>
                                        <input type="number" name="quantity" min="0" max="10" value="{{ c_item.quantity }}">
                                    </p>
                                    <p class="card-text">
                                        <button type="submit" class="btn ml-btn">Adjust Cart</button>
                                    </p>
                                {% endif %}
                                </div>

                            </form>
                        </div>

                    </div>

                </div>


            {% endfor %}

        </div>
        <!-- TODO try to update the class names for cart-qty and cart-price - when I change them to left and right the CSS breaks-->
        <div class="row justify-content-center">
            <div class="card-cart cart-total">
                <p class="cart-qty">Total: <i class="fas fa-dollar-sign"></i> {{ total }}</p>
                <p class="cart-price"><button onclick="window.location.href='{% url 'checkout' %}'" class="btn ml-btn"><i class="far fa-check-square"></i> Checkout</button></p>
            </div>
        </div>
    </div>

    <div>
        <h2>Test</h2>
         <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Django Charge"
            data-amount="500"
            data-locale="auto">
        </script>
    </div>

{% endblock %}