{% extends 'base.html' %}
{% load static %}

{% block page_heading %}{% endblock %}

{% block content %}
    <div class="home-text">
        <p><img class="steve-in-store" src="{% static 'images/steve_in_store.jpg' %}" align="right" alt="Image of Steve in his shop">Back in the 90's, <strong>Moose Leather</strong> was a leather store in sunny San Diego, CA that specialized in the creation custom-made leather goods. We also carried off-the-rack merchandise as well as consignment of people's leather items on which we received a commission when the items sold.</p>

        <p>This website is an attempt to create an online version of the shop. There is retail section called <strong><a href="{% url 'retail' %}">New Goods</a></strong> and, just like the store, there are used items for sale in the section called <strong><a href="{% url 'consigned' %}">Consigned Goods</a></strong>.</p>

        <p>Each item for sale has a <strong>History and Background</strong> page connected to it. Just click the title to see the history of that type of leather item. Also, each page has a discussion section at the bottom if you want to ask a question or offer an opinion...</p>

        <h5>Have Something to Sell?</h5>
        <p>We accept items on consignment for a 25% commission. You can upload information on your item for sale <a href="{% url 'upload_consigned' %}"><strong>here</strong></a>. Be sure to <a href="{% url 'login' %}"><strong>Log In</strong></a> first!</p>
    </div>

{% endblock %}