{% extends 'base.html' %}
{% load static %}

{% block page_heading %}{% endblock %}

{% block content %}
    <div class="home-text">
        <p><img class="steve-in-store" src="{% static 'images/steve_in_store.jpg' %}" align="right" alt="Image of Steve in his shop"><strong>Moose Leather</strong> was a leather store in San Diego, California that specialized in creating custom-made leather goods. We also carried off-the-rack merchandise as well as consignment of people's leather items on which we received a commission when the items sold.</p>

        <p>This website is an attempt to create an online version of what the shop was all about. There is retail section called <strong>New Goods</strong> and, just like the store, there are used items for sale in the section called <strong>Consigned Goods</strong>. </p>

        <p>Lectus sit amet est placerat in egestas erat. Vitae purus faucibus ornare suspendisse sed nisi. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Morbi tempus iaculis urna id volutpat lacus laoreet non. Sem et tortor consequat id porta. Vel pretium lectus quam id leo. Accumsan in nisl nisi scelerisque. Dignissim convallis aenean et tortor at risus viverra. Auctor urna nunc id cursus metus. Et pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Vitae auctor eu augue ut lectus arcu bibendum. Eget duis at tellus at. Massa vitae tortor condimentum lacinia quis.</p>
    </div>

{% endblock %}